
code/.toto.swp
code/a.out
code/displayInfo
code/populateOrigin
code/resize
code/threshold
code/toto
code/zone
code/zoneOrigin
images/a/10.png
images/a/11.png
images/a/12.png
images/a/13.png
images/a/14.png
images/a/15.png
images/a/16.png
images/a/17.png
images/a/18.png
images/a/19.png
images/a/20.png
images/a/21.png
images/a/22.png
images/a/23.png
images/a/24.png
images/a/25.png
images/a/26.png
images/a/27.png
images/a/28.png
images/a/29.png
images/a/30.png
images/a/31.png
images/a/32.png
images/a/33.png
images/a/34.png
images/a/35.png
images/a/5.png
images/a/6.png
images/a/7.png
images/a/8.png
images/a/9.png
images/a/threshold/

